  /* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  /* Set background image for the body */
  body {
    background-size: cover;
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  /* Center the title and buttons */
  h1 {
    text-align: center;
    margin: 20px 0;
    line-height: 1.5;
    background-color: pink;
    margin: 0rem;
    border: solid rgb(rgb(237, 57, 87));
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
  
  }
  
  /* Style the buttons */
  #shuffleButton, #DownloadButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
    flex-direction: column;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;

  }
  
  /* Style the rooms container */
  .rooms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  /* Style individual rooms */
  .room {
    background-color: #fff;
    border: 1px solid #121212;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: left;
    width: 300px;
    height: 200px;
  }
  
  /* Style room headings */
  .room h2 {
    font-size: 25px;
    margin: 15px 0;
    justify-content: center;
    text-align: center;
    background-color: pink;
    margin: 0rem;
    line-height: 1.5;
    border: solid rgb(rgb(237, 57, 87));
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;

  }
  
  /* Style room names */
  .room p {
    font-size: 18px;
    line-height: 1.8;

    
  }
  
  /* Add spacing between rooms */
  .room + .room {
    margin-left: 20px;
  }
  
  /* Style the download button */
  #DownloadButton {
    background-color: #28A745;
  }
  
  /* Add hover effect to buttons */
  #shuffleButton:hover, #DownloadButton:hover {
    background-color: #0056b3;
  }
  
      